<section>
    <div class="page-header">
        <h1>Anotações</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="anotacao in vm.anotacaos"
           data-ui-sref="anotacaos.view({ anotacaoId: anotacao._id })"
           class="list-group-item">

            <p><h3>Título:</h3> <h4 class="list-group-item-heading" data-ng-bind="anotacao.titulo"></h4></p>
            <p><h3>Anotação:</h3>
            <h4 class="list-group-item-heading" data-ng-bind="anotacao.anotacao"></h4>
            </p>
             <p><h3>Disciplina:</h3>
            <h4 class="list-group-item-heading" data-ng-bind="anotacao.disciplina.disciplina"></h4>
            </p>
              <p><h3>Tipo de Anotação</h3>
            <h4 class="list-group-item-heading" data-ng-bind="anotacao.tipoanotacao.tipoAnotacao"></h4>
            </p>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="anotacao.created | date:'mediumDate'"></span>
                by
                <span data-ng-if="anotacao.user" data-ng-bind="anotacao.user.displayName"></span>
                <span data-ng-if="!anotacao.user">Deleted User</span>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="vm.anotacaos.$resolved && !vm.anotacaos.length">
        Sem Anotações ainda, por que não <a data-ui-sref="anotacaos.create">criar uma</a>?
    </div>
</section>
