<section>
    <div class="page-header">
        <h1 data-ng-bind="vm.anotacao.titulo"></h1>
    </div>
    <div>
        <p><h3>Anotação:</h3>
            <h4 class="list-group-item-heading" data-ng-bind="vm.anotacao.anotacao"></h4>
            </p>
             <p><h3>Disciplina:</h3>
            <h4 class="list-group-item-heading" data-ng-bind="vm.anotacao.disciplina.disciplina"></h4>
            </p>
              <p><h3>Tipo de Anotação</h3>
            <h4 class="list-group-item-heading" data-ng-bind="vm.anotacao.tipoanotacao.tipoAnotacao"></h4>
            </p>
    </div>
    <div class="pull-right"
         data-ng-show="vm.anotacao.isCurrentUserOwner">
        <a class="btn btn-primary"
           data-ui-sref="anotacaos.edit({ anotacaoId: vm.anotacao._id })">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="vm.anotacao.created | date:'mediumDate'"></span>
            by
            <span data-ng-if="vm.anotacao.user"
                  data-ng-bind="vm.anotacao.user.displayName"></span>
            <span data-ng-if="!vm.anotacao.user">Deleted User</span>
        </em>
    </small>
    <p class="lead" data-ng-bind="vm.anotacao.content"></p>
    
</section>
