<section>
  <div class="page-header">
    <h1>Tipo de Anotações</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tipoanotacao in vm.tipoanotacaos"
       data-ui-sref="tipoanotacaos.view({ tipoanotacaoId: tipoanotacao._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="tipoanotacao.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="tipoanotacao.user" data-ng-bind="tipoanotacao.user.displayName"></span>
        <span data-ng-if="!tipoanotacao.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tipoanotacao.tipoAnotacao"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.tipoanotacaos.$resolved && !vm.tipoanotacaos.length">
    Sem Tipo de Anotações ainda, por que não <a data-ui-sref="tipoanotacaos.create">criar uma</a>?
  </div>
</section>
